/* FONT 
font-family: 'Roboto', sans-serif;
font-family: 'Crimson Text', serif;
*/

#containersite {
   min-height:100%;
   position:relative;
}

body {
	background-color: white;
	margin: 0px 0px 0px 0px;
	 padding-bottom:60px;   /* Height of the footer */
}

h1 {
	color: #FF1493 !important;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: #FF1493 !important;
	font-weight: bold !important;
}

p{
	font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  font-size: 27px;
  height: 103px;
}

a:link {
  text-decoration: none !important;
}

/* unvisited link */
a:link {
  color: black !important;
}

/* visited link */
a:visited {
  color: black;
    text-decoration: none !important;
}

/* mouse over link */
a:hover {
  color: black !important;
    text-decoration: none !important;
}

/* selected link */
a:active {
  color: black;
    text-decoration: none !important;
}

a {
	padding: 0px 20px 0px 10px;
	font-size: 0.7em;
	font-family: 'Roboto', sans-serif;
	position: relative;
	/*top: -40px;*/
}

.logoheader{
	height:  110px;
    position: relative;
}


.headerphoto{
	
	top: 10px;
    height: auto;
    position: relative;
    width: 100%;
    text-align: center;
}

.headerimagePC {
width: 100%
}
.headerimagemobile {
width: 100%
}


.headertextbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* Centered text */
.headertext {
  	text-transform: uppercase;
  	margin: 0;
  	font-size: 5.5rem;
  	white-space: nowrap;
  	font-weight: bold;
	font-family: 'Crimson Text', serif;
	opacity: 1;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 15px 10px 0px 10px
}

.headertext2 {
  margin: 0;
  font-size: 2.1rem;
  font-family: 'Crimson Text', serif;
  opacity: 1;
  /*background-color: rgba(238, 0, 140, 0.55); */
  padding: 10px 0px 10px 0px;
}

.img-thumbnail{
	position: absolute;
	width: 90%;
	height: 263.25px !important;
	margin-left: 10px !important;
}


.newevent {
	position: absolute !important;
    height: 263px;
    /* padding: 4px; */
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}



/* JUMBOTRON */
.jumbohtext{
	text-align: center;
	color: white !important;

}

.jumbomtext{
	text-align: center;
	font-family: 'Crimson Text', serif;
	font-size: large;
}

.jumbooo {
	background-image: linear-gradient(to right top, #ee008c, #f52980, #fa4176, #fc566e, #fc6868);
    border-radius: 0rem;
}

.jumbaaa {
	background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
	padding-top: 0px; 
    border-radius:  0rem;
}

.jumbotron{

border-radius: 0px !important;

}
/* FOOTER */ 
.footer {
  position: sticky;
  right: 0;
  bottom: -29px;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.logofooter{
	height:  66px;
	top: 0px;
    position: relative;
}

#footer {
   position:absolute;
   bottom: -29px;
   width:100%;
   height:0px;   /* Height of the footer */
   background-color: #EE008C;
}

/* MEDIA */

@media only screen and (max-width: 990px) {
  .hidm {
display: none;
  }
}


@media only screen and (max-width: 990px) {
  .headerimagePC {
  	display: none
  }
}

@media only screen and (min-width: 990px) {
  .headerimagemobile {
display: none;
  }
}

@media only screen and (min-width: 990px) {
  .mobieltje {
display: none;
  }
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}



.butt {
  background-color: white;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
  cursor: pointer;
  left: 50%
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.button1 {
  background-color: transparent; 
  color: white; 
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.middle{
	width: 100%
	position: absolute;
	text-align: center;
}

.middle2 {
	width: 100%
	position: absolute;
	text-align: center;
	margin-top: -50px;
}



.navbar {
   padding: 1.5rem 2rem !important;
}

.navbar-toggler-icon {
    width: 4em !important;
    height: 4em !important;
}

.navbar-brand {
    font-size: 2.25rem !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-size: 4em !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 4em !important; 
}

.dropdown-item {
    font-size: 3.5em !important;
}

.pos{
	position: relative;
}