/* FONT 
font-family: 'Roboto', sans-serif;
font-family: 'Crimson Text', serif;
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);


@font-face {
  font-family: 'Jenthill';
  src: url('../font/Jenthill.ttf'); /* IE9 Compat Modes */
  src: url('../font/Jenthill.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/Jenthill.ttf') format('woff2'), /* Super Modern Browsers */
       url('../font/Jenthill.ttf') format('woff'), /* Pretty Modern Browsers */
       url('../font/Jenthill.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../font/OpenSans-Bold.ttf'); /* IE9 Compat Modes */
  src: url('../font/OpenSans-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/OpenSans-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('../font/OpenSans-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
       url('../font/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#containersite {
   min-height:100%;
   position:relative;
}

body {
	margin: 0px 0px 0px 0px;
}

h1 {
	color: white !important;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: #0C1B33 !important;
	font-weight: bold !important;
}

p{
	font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  font-size: 27px;
  color: white;
  height: 115px;
  background-color: #0C1B33;
}

.mobieltje a:link{
    color: #0C1B33 !important;
}

.mobieltje a:active{
    color: #B2AA8E !important;
}

.mobieltje a:hover{
    color: #B2AA8E !important;
}

.single-share-box a{
  color: black !important;
}

a:link {
  text-decoration: none !important;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
    text-decoration: none !important;
}

/* mouse over link */
a:hover {
  color: #B2AA8E !important;
  text-decoration: none !important;
  
}

/* selected link */
a:active {
  color: black;
    text-decoration: none !important;
}

a {
	padding: 0px 20px 0px 10px;
	font-size: 0.75em;
	font-family: 'Roboto Slab', serif;
  font-weight: 500;
	position: relative;
}

.logoheader{
	height:  110px;
    position: relative;
}

.stock {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.headerphoto{
	  height: auto;
    position: relative;
    width: 100%;
    text-align: center;
}

.headerimagePC {
width: 100%
}
.headerimagemobile {
width: 100%
}


.headertextbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* Centered text */
.headertext {
  	text-transform: uppercase;
  	margin: 0;
  	font-size: 7rem;
  	white-space: nowrap;
  	font-weight: bold;
	font-family: 'Jenthill', serif;
	opacity: 1;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px 10px 0px 10px
}

.headertext2 {
  margin: 0;
  font-size: 3.1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  opacity: 1;
  /*background-color: rgba(238, 0, 140, 0.55); */
  padding: 10px 0px 10px 0px;
  color: #B2AA8E;
}

.img-thumbnail{
	position: absolute;
	width: 90%;
	height: 263.25px !important;
	margin-left: 10px !important;
}


.newevent {
	position: absolute !important;
    height: 263px;
    /* padding: 4px; */
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}



/* JUMBOTRON */
.jumbohtext{
	text-align: center;
	color: white !important;

}

.jumbomtext{
	text-align: center;
	font-family: 'Crimson Text', serif;
	font-size: 1.15em;
}

.jumbooo {
	background-image: linear-gradient(to right top, #ee008c, #f52980, #fa4176, #fc566e, #fc6868);
    border-radius: 0rem;
}

.jumbaaa {
	background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
	padding-top: 0px; 
    border-radius:  0rem;
}

.jumbotron{
margin: 10px 0px 0px 0px;
border-radius: 0px !important;

}
/* FOOTER */ 
#footer {
  position: relative;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 2rem;
  background-color: #0C1B33;
  text-align: center;
}

.logofooter{
	height:  66px;
	top: 0px;
    position: relative;
}

.footertext {
  color: #B2AA8E;
}



/* MEDIA */

@media only screen and (max-width: 990px) {
  .hidm {
display: none;
font-family: 'OpenSans-Bold';  }
}


@media only screen and (max-width: 990px) {
  .headerimagePC {
  	display: none
  }

.headertext {
    font-size: 6.5rem !important;
  }


.headertext2 {
    font-size: 2.5rem !important;
}

.h2, h2 {
    font-size: 4rem !important;
}

.col-sm-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}


p {
    font-size: -webkit-xxx-large !important;
}


.h4, h4 {
    font-size: 2.5rem !important;
}

.jumbohtext {
  font-size: 4.5rem !important;
}

.logoheader {
    height: 225px;
}


.butt {
      font-size: 49px !important;
      margin: 40px 0px 0px 0px !important;
}

#footer{
  height: 500px !important;
}

.instab{
   margin:0px 0px 0px 240px;
}
}


@media only screen and (min-width: 990px) {
  .headerimagemobile {
display: none;
}
}

@media only screen and (min-width: 990px) {
  .mobieltje {
display: none;
  }
}

.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}



.butt {
  background-color: white;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
  cursor: pointer;
  left: 50%
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.button1 {
  background-color: transparent; 
  color: white; 
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.middle{
	width: 100%;
	position: relative;
	text-align: center;
  color:#B2AA8E !important;
  text-decoration: underline;
}

.middle2 {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: -50px;
}



.navbar {
   padding: 1.5rem 2rem !important;
}

.navbar-toggler-icon {
    width: 4em !important;
    height: 4em !important;
}

.navbar-brand {
    font-size: 2.25rem !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-size: 4em !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 4em !important; 
}

.dropdown-item {
    font-size: 3.5em !important;
}

.pos{
	position: relative;
}

.oldevent {
  opacity: 0.4;
}

.oldevent:hover {
  opacity: 1;
    transition: opacity .6s;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.7em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;

}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn 

.thin {
  padding: 0px !important;
}

.felicwrap {
background-color: white !important;
margin: -7rem 14rem 2rem 14rem;
}

#fancy-header{
height: 24rem;
}

.fancy-header-text{
  text-transform: uppercase;
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Jenthill', serif;
  opacity: 1;
  padding: 170px 0px 10px 0px;
  color: white;
  width: 100%;
  position: relative;
  text-align: center;
}


.wijkenkaart{
  max-width: 93%;
  margin: 0px 0px 0px 50px;
}f

.middle {
  color: black !important;
}

.bold{
  padding: 20px 50px 0px 50px;
  margin: 20px 50px 0px 50px;
  font-weight: bold;
  font-size: 1.3rem;
}

.checkit{
  padding: 14px 50px 0px 50px;
  margin: 10px 50px 0px 50px;
  font-weight: bold;
  font-size: 1.2rem;
}

.titel{
  margin: 0;
  font-size: 2.2rem;
  opacity: 1;
  color: #0C1B33 !important;
  width: 100%;
  padding: 10px 0px 40px 0px;
  position: relative;
  text-align: center;
}

.lijsttitel{
  padding: 50px 50px 0px 50px;
  margin: 0px 50px 0px 50px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #B2AA8E !important;


}

.lijsttekst{
  padding: 14px 50px 0px 50px;
  margin: 10px 50px 0px 50px;
  font-size: 1.2rem;
}

.bron{
  padding: 0px 50px 0px 50px;
  margin: 0px 50px 0px 50px;
  font-size: 1.2rem;
}